{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info" style="display: flex; justify-content: flex-start; align-items: center; flex-direction: row;">
    <img src="{{ .Photo }}" alt="Profile photo" style="width: 160px; height: 160px; border-radius: var(--radius); margin-right: 20px;">
    <div style="display: flex; flex-direction: column;">
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content">
            {{ .Content | markdownify }}
        </div>
        <footer class="entry-footer">
            {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
        </footer>
    </div>
</article>
{{- end -}}
